<%= stylesheet_link_tag 'sty_cad.css' %>

<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, class: "form-control", autocomplete:"off" %><br>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf, class: "form-control", maxlength:15, onkeypress:"$(this).mask('000.000.000-AA')", autocomplete:"off" %><br>
  </div>

  <div>
    <%= form.label :idade, style: "display: block" %>
    <%= form.text_field :idade, class: "form-control", maxlength:2, onkeypress:"$(this).mask('00')", autocomplete:"off" %><br>
  </div>

  <div>
  <button class="appointment-btn-criar-a"> Cadastrar Cliente <class="d-none d-md-inline">
  </div>
<% end %>
