<p style="color: green"><%= notice %></p>

<%= render @vnda %>

<div>
  <%= link_to "Edit this vnda", edit_vnda_path(@vnda) %> |
  <%= link_to "Back to vndas", vndas_path %>

  <%= button_to "Destroy this vnda", @vnda, method: :delete %>
</div>
