<p style="color: green"><%= notice %></p>

<%= render @medicamento %>

<div>
  <%= link_to "Edit this medicamento", edit_medicamento_path(@medicamento) %> |
  <%= link_to "Back to medicamentos", medicamentos_path %>

  <%= button_to "Destroy this medicamento", @medicamento, method: :delete %>
</div>
