<div id="<%= dom_id item %>">
  <p>
    <strong>Medicamento:</strong>
    <%medicamento = item.medicamento_id.to_s %>
    <%= @medicamentos.find(medicamento).nome %>
  </p>

  <p>
    <strong>Qtd:</strong>
    <%= item.qtd %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= item.unit %>
  </p>

  <p>
    <strong>S total:</strong>
    <%= item.s_total %>
  </p>

</div>
