<div id="<%= dom_id atendente %>">
  <p>
    <strong>Nome:</strong>
    <%= atendente.nome %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= atendente.usuario %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= atendente.cpf %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= atendente.idade %>
  </p>

</div>
