<%= stylesheet_link_tag 'sty_cad.css' %>

<%= form_with(model: atendente) do |form| %>
  <% if atendente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(atendente.errors.count, "error") %> prohibited this atendente from being saved:</h2>

      <ul>
        <% atendente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :usuário, style: "display: block" %>
    <%= form.number_field :usuario %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <input id="cpf" type="text" onkeypress="$(this).mask('000.000.000-00')" autocomplete="off">
  </div>

  <div>
    <%= form.label :idade, style: "display: block" %>
    <%= form.number_field :idade %>
  </div>

  <div>
   <button class="appointment-btn-criar-a"> Cadastrar Atendente <class="d-none d-md-inline">
  </div>
<% end %>

<script type="text/javascript" src="C:\Users\ryanr\farma\app\javascript\application.js"></script>
<script type="text/javascript" src="C:\Users\ryanr\farma\app\assets\js\jquery.mask.js"></script>
<script type="text/javascript" src="C:\Users\ryanr\farma\app\assets\js\jquery.mask.min.js"></script>

