<%= form_with(model: venda) do |form| %>
  <% if venda.errors.any? %>
    <div style="color: red">
      <err> Defina o Atendente / Cliente </err>

      <ul>
        <% venda.errors.each do |error| %>

        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <select class= "select" <%= form.text_field :atendente_id %> >
      <option selected>atendente</option>
      <% @atendentes.each do |atendente| %>
        <option value= <%= atendente.id %> > <%= atendente.nome %></option>
      <% end %>
    <select>
  </div>

  <br>


  <div>
  <select class= "select" <%= form.text_field :cliente_id %> >
    <option selected> cliente </option>
    <% @clientes.each do |cliente| %>
      <option value= <%= cliente.id %> > <%= cliente.nome %></option>
  <% end %>
  <select>
</div>



<br>

  <div>
  <button class="appointment-btn-criar-a"> Iniciar Venda <class="d-none d-md-inline">
  </div>

<% end %>
