<p style="color: green"><%= notice %></p>

<%= render @venda %>

<div>
  <%= link_to "Edit this venda", edit_venda_path(@venda) %> |
  <%= link_to "Back to vendas", vendas_path %>

  <%= button_to "Destroy this venda", @venda, method: :delete %>
</div>
